[env]
_.path = ["test/bats/bin", "{{ env.CARGO_TARGET_DIR | default(value='target') }}/debug", "node_modules/.bin"]

[tools]
actionlint            = "latest"
bun                   = "latest"
cargo-binstall        = "latest"
"cargo:cargo-edit"    = "latest"
"cargo:cargo-msrv"    = "latest"
"cargo:cargo-release" = "latest"
git-cliff             = "latest"
node                  = "latest"
"npm:prettier"        = "latest"
pkl                   = "latest"
ripgrep               = "latest"
shellcheck            = "latest"
taplo                 = "latest"
usage                 = "latest"
uv                    = "latest"
vhs                   = "latest"

[tasks.init]
run = '''
git submodule update --init --recursive
'''

[tasks.build]
alias   = "b"
depends = ["init"]
outputs = ["target/debug/hk"]
run     = "cargo build"
sources = ["build.rs", "src/**/*", "pkl/**/*", "ensembler/src/**/*", "xx/src/**/*", "clx/**/*"]

[tasks.hk]
alias   = "dev"
depends = ["build"]
run     = "hk"

[tasks.msrv]
run = "cargo msrv verify"

[tasks.benchmark]
run   = "./benchmark/benchmark.sh"
tools = { lefthook = "latest", "pre-commit" = "latest" }

[tasks.ci]
depends = ["test", "lint"]

[tasks.test]
alias   = ["t"]
depends = ["test:cargo", "test:bats"]

[tasks."test:cargo"]
alias = "tc"
run   = "cargo test --all --all-features"

[tasks."test:bats"]
alias = "tb"
depends = ["build"]
run = '''
tests="{{arg(name='test', var=true, default='test')}}"
mise run test:bats:libgit2 "$tests" ::: test:bats:nolibgit2 "$tests" ::: test:bats:nogit "$tests"
'''

[tasks."test:bats:libgit2"]
depends = ["build"]
env = { "HK_LIBGIT2" = "1" }
run = '''
tests="{{arg(name='test', var=true, default='test')}}"
tests=$(rg --files-with-matches git -g test/*.bats "$tests" || true | tr '\n' ' ')
if [ "$tests" ]; then
  bats --jobs 16 $tests
fi
'''

[tasks."test:bats:nolibgit2"]
depends = ["build"]
env = { "HK_LIBGIT2" = "1" }
run = '''
tests="{{arg(name='test', var=true, default='test')}}"
tests=$(rg --files-with-matches git -g test/*.bats "$tests" || true | tr '\n' ' ')
if [ "$tests" ]; then
  bats --jobs 16 $tests
fi
'''

[tasks."test:bats:nogit"]
depends = ["build"]
env = { "HK_LIBGIT2" = "" }
run = '''
tests="{{arg(name='test', var=true, default='test')}}"
tests=$(rg --files-without-match git -g test/*.bats "$tests" || true | tr '\n' ' ')
if [ "$tests" ]; then
  bats --jobs 16 $tests
fi
'''

[tasks.dist]
run = "pkl project package pkl --output-path docs/public/pkl"

[tasks.prelint]
run = "echo prelint"
[tasks.postlint]
run = "echo postlint"
[tasks.pre-release]
depends = ["render"]
run = [
  "git cliff -o CHANGELOG.md --tag {{option(name='version')}}",
  "VERSION={{option(name='version')}} mise run update-version",
]
[tasks.release]
run = "cargo release"
[tasks.lint]
depends = ["build"]
run     = ["hk check --all", "hk check --all --slow"]
[tasks.lint-fix]
alias   = ["fix", "format"]
depends = ["build"]
run     = ["hk fix --all", "hk fix --all --slow"]
[tasks.docs]
depends = ["docs:gen"]
dir     = "docs"
run     = "bun i && bun run docs:dev"
[tasks."docs:gen"]
run = "cargo run --bin generate-docs"
[tasks."docs:build"]
depends = ["docs:gen"]
dir     = "docs"
run     = "bun i && bun run docs:build"
[tasks.render]
depends = ["render:*"]

[tasks."demo"]
depends = ["build"]
run     = "vhs tapes/hk-demo.tape"

[tasks."render:usage"]
depends = ["build"]
run = [
  "hk usage > hk.usage.kdl",
  "rm -rf docs/cli && mkdir -p docs/cli",
  "usage g markdown -mf hk.usage.kdl --out-dir docs/cli --url-prefix /cli",
  "usage g json -f hk.usage.kdl > docs/cli/commands.json",
  "prettier --write docs/cli",
  "git add hk.usage.kdl docs",
]

[tasks."test:migrate:airflow"]
depends = ["build"]
run = '''
if [ ! -d ./airflow ]; then
  git clone https://github.com/jdx/airflow ./airflow
fi
cd ./airflow
git checkout hk
hk migrate pre-commit --hk-pkl-root ../pkl --force
if [ -n "$(git status --porcelain hk.pkl)" ]; then
  git add hk.pkl
  git -c commit.gpgsign=false commit -m "chore: regenerate hk.pkl"
fi
hk check --all
'''

[tasks."test:migrate:pillow"]
depends = ["build"]
run = '''
if [ ! -d ./pillow ]; then
  git clone https://github.com/jdx/Pillow ./pillow
fi
cd ./pillow
git checkout main
git pull
hk migrate pre-commit --hk-pkl-root ../pkl --force
if [ -n "$(git status --porcelain hk.pkl)" ]; then
  git add hk.pkl
  git -c commit.gpgsign=false commit -m "chore: regenerate hk.pkl"
fi
hk check --all
'''
