name: release-plz

permissions:
  pull-requests: write
  contents: write

on:
  workflow_dispatch: {}
  push:
    branches:
      - main
      - release-plz

concurrency:
  group: release-plz

env:
  DRY_RUN: 0

jobs:
  release-plz:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
        with:
          fetch-depth: 0
          submodules: recursive
          token: ${{ secrets.HK_GH_TOKEN }}
      - uses: Swatinem/rust-cache@98c8021b550208e191a6a3145459bfc9fb29c4c0 # v2
      - uses: jdx/mise-action@146a28175021df8ca24f8ee1828cc2a60f980bd5 # v3
        with:
          experimental: true
      - run: mise trust --all
      - run: mise run release-plz
        env:
          GITHUB_TOKEN: ${{ secrets.HK_GH_TOKEN }}
          CARGO_REGISTRY_TOKEN: ${{ secrets.CARGO_REGISTRY_TOKEN }}
